$gris: #444;
$blanc: #eee;
$black: #000000;
$bleu: #0d6efd;
$titres: #1e1e1e;
.image {
  background-image: url(../image/reseaux.jpg);
  display: flex;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 25vh;
}

.barre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .barre_bleu {
    height: 4px;
    width: 25%;
    background-color: #0d6efd;
  }
}

section {
  h1 {
    font-weight: 600;
  }
  p{color:$gris}
  .card {
    display: flex;

    h2 {
      font-size: 2rem;
      font-weight: 600;
    }
    p{
        color: $gris;
    }
    .bouton {
      display: flex;
      margin-left: 1.5rem;
      margin-bottom: 1.5rem;
      .btn {
        width: 150px;
      }
    }
  }
}
