$gris: #444;
$blanc: #eee;
$black: #000000;
$bleu: #0d6efd;
$titres: #1e1e1e;

.image_bg {
  background-image: url(../image/enveloppe.jpg);
  z-index: -5;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;

  .background_bleu {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 105, 255, 0.5);
    z-index: 0;

    .contact {
      position: relative;
      z-index: 1;
      margin-top: 10vh;
      .blanc {
        background-color: $blanc;
        margin: 30px;
        padding: 30px;
        border-radius: 10px;
        h1 {
          font-size: 2rem;
          color: $titres;
        }
        p {
          color: $gris;
          font-size: 1.25rem;
        }
        .barre {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .barre_bleu {
            height: 4px;
            width: 25%;
            background-color: #0d6efd;
          }
        }

        .formulaire {
          display: flex;
          flex-direction: column;
          .titre_formulaire {
            h2 {
              font-weight: 600;
              font-size: 2rem;
              text-align: start;
              padding-bottom: 1rem;
              border-bottom: $bleu 2px solid;
            }
          }
          .input {
            border: #44444450 solid 1px;
            border-radius: 5px;
            padding: 5px;
            width: 100%;
          }
        }

        .bloc_coordonnees {
          .titre_coordonnees {
            h2 {
              font-weight: 600;
              font-size: 2rem;
              text-align: start;
              padding-bottom: 1rem;
              border-bottom: $bleu 2px solid;
            }
          }

          .coordonnees {
            .map-responsive {
              overflow: hidden;
              padding-bottom: 56.25%;
              position: relative;
              height: 0;
            }

            .map-responsive iframe {
              left: 0;
              top: 0;
              height: 100%;
              width: 100%;
              position: absolute;
            }
          }
        }
      }
    }
  }
}
