@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,600&display=swap");

$font-family: "Nunito Sans", sans-serif;
$gris: #444;
$blanc: #eee;
$black: #000000;
$bleu: #0d6efd;
$titres: #1e1e1e;
body {
  font-family: $font-family;
  main {
    background-color: $blanc;
  }
}
nav {
  .container-fluid {
    opacity: 0.8;
  }
}
.nav-link:hover {
  color: rgba(255, 255, 255, 0.8) !important;
}
.custom-toggler {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(250,250,250)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='4' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

h1,
h2,
h3,
h4,
h5 {
  color: $titres;
}

.back-to-top {
  position: fixed;
  top: 80%;
  right: 4%;
  cursor: pointer;
  opacity: 0;
  transition: all 0.9 ease;
  z-index: 10;
}

.back-to-top:hover{
  background-color: #298eff !important;
}

footer {
  .icons {
    display: flex;
    gap: 1rem;

    .icon-48 {
      font-size: 48px;
      color: $gris;
    }
  }
  h5 {
    font-weight: 600;
  }
  a {
    text-decoration: none;
  }
}
